<div class="background">
	<div class="landingContent container">
	<p class="landingHeader">
		RESTAURANT REVIEWER
	</p>
	<br>
	<a class="landingBtn btn btn-default btn-secondary" href="/restaurants">View Restaurants</a>
	<br>
	<a class="landingBtn btn btn-default btn-secondary" href="/reviews">View Reviews</a>
</div>
</div>

